<!-- Generated template for the ListViewComponent component -->
<div>
<h2>{{ feedType }}</h2>

<ion-card *ngFor="let item of feedItems">
    <ion-item>
      <ion-avatar item-start>
        <img [src]="item.user.profile_pic || '/assets/img/ui/placeholders/first.jpg'">
      </ion-avatar>
      <h2><a (click)="viewProfile(item.user)">{{ item.user.username }}</a></h2>
      <p>Posted {{ getTimeSince(item.created_at) }}</p>
    </ion-item>

    <img [src]="item.thumbnail" (click)="viewDetails(item.id)" />

    <ion-card-content>
        <button style="padding:0" ion-button color="primary" clear small icon-start>
            <ion-icon name='thumbs-up'></ion-icon>
            {{item.likes || 0}}
          </button>
          <button ion-button color="primary" clear small icon-start>
              <ion-icon name='text'></ion-icon>
              {{item.comments || 0}}
          </button><br/>
        {{ item.summary }}
    </ion-card-content>
  </ion-card>
</div>